# Windows build outputs
Debug/
Release/
x64/
x86/
arm64/
*.exe
*.dll
*.ilk
*.idb
*.pdb
*.obj
*.log

# macOS / VS Code build outputs
build/
*.o
*.out

# VS Code local settings (useful for mac)
# .vscode/

# macOS system files
.DS_Store

# VScode platform specific compiled binary executable
ducted_fan_sim

# macOS compiled LLDB symbol files
ducted_fan_sim.dSYM/

# Runtime Output Data files
output/
